<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <payscrowgateway>
        <active>1</active>
        <model>Payscrow\PayscrowGateway\Model\Payscrow</model>
        <can_use_checkout>1</can_use_checkout> 
        <order_status>pending</order_status>
        <title>PayScrow - Premium Escrow Payment Service</title>
        <allowspecific>0</allowspecific>
        <payment_action>order</payment_action>
       <!-- <gateway_url>https://www.payscrow.net/customer/transactions/start</gateway_url>-->
        <gateway_url>https://www.payscrow.net/</gateway_url>
        <access_key/>
        <max_delivery_duration/>
        <response_url>/payscrowgateway/payment/response</response_url>
      </payscrowgateway>
    </payment>
  </default>
</config>