<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <type name="Magento\Payment\Helper\Data">
        <plugin name="Payscrow_PayscrowGateway" type="Payscrow\PayscrowGateway\Helper\Data" sortOrder="1" />
    </type>
</config>